/*=============================================
=                COLORS.SCSS                  =
=============================================*/

/*----------  Variables  ----------*/

$c-navy: #001f3f;
$c-blue: #0074D9;
$c-aqua: #7FDBFF;
$c-teal: #39CCCC;
$c-olive: #3D9970;
$c-green: #2ECC40;
$c-lime: #01FF70;
$c-yellow: #FFDC00;
$c-orange: #FF851B;
$c-red: #FF4136;
$c-maroon: #85144b;
$c-fuchsia: #F012BE;
$c-purple: #B10DC9;
$c-black: #000000;
$c-near-black: #111111;
$c-dark-gray: #333333;
$c-mid-gray: #555555;
$c-gray: #AAAAAA;
$c-silver: #DDDDDD;
$c-light-gray: #EEEEEE;
$c-near-white: #f4f4f4;
$c-white: #FFFFFF;

/*----------  Foreground  ----------*/

.navy { color: $c-navy; }
.blue { color: $c-blue; }
.aqua { color: $c-aqua; }
.teal { color: $c-teal; }
.olive { color: $c-olive; }
.green { color: $c-green; }
.lime { color: $c-lime; }
.yellow { color: $c-yellow; }
.orange { color: $c-orange; }
.red { color: $c-red; }
.maroon { color: $c-maroon; }
.fuchsia { color: $c-fuchsia; }
.purple { color: $c-purple; }
.black { color: $c-black; }
.near-black { color: $c-near-black; }
.dark-gray,
.dark-grey { color: $c-dark-gray; }
.mid-gray,
.mid-grey { color: $c-mid-gray; }
.gray,
.grey { color: $c-gray; }
.silver { color: $c-silver; }
.light-gray,
.light-grey { color: $c-light-gray; }
.near-white { color: $c-near-white; }
.white { color: $c-white; }

.hover-navy:hover { color: $c-navy; }
.hover-blue:hover { color: $c-blue; }
.hover-aqua:hover { color: $c-aqua; }
.hover-teal:hover { color: $c-teal; }
.hover-olive:hover { color: $c-olive; }
.hover-green:hover { color: $c-green; }
.hover-lime:hover { color: $c-lime; }
.hover-yellow:hover { color: $c-yellow; }
.hover-orange:hover { color: $c-orange; }
.hover-red:hover { color: $c-red; }
.hover-maroon:hover { color: $c-maroon; }
.hover-fuchsia:hover { color: $c-fuchsia; }
.hover-purple:hover { color: $c-purple; }
.hover-black:hover { color: $c-black; }
.hover-near-black:hover { color: $c-near-black; }
.hover-dark-gray:hover,
.hover-dark-grey:hover { color: $c-dark-gray; }
.hover-mid-gray:hover,
.hover-mid-grey:hover { color: $c-mid-gray; }
.hover-gray:hover,
.hover-grey:hover { color: $c-gray; }
.hover-silver:hover { color: $c-silver; }
.hover-light-gray:hover,
.hover-light-grey:hover { color: $c-light-gray; }
.hover-near-white:hover { color: $c-near-white; }
.hover-white:hover { color: $c-white; }

/*----------  Background  ----------*/

.bg-navy { background-color: $c-navy; }
.bg-blue { background-color: $c-blue; }
.bg-aqua { background-color: $c-aqua; }
.bg-teal { background-color: $c-teal; }
.bg-olive { background-color: $c-olive; }
.bg-green { background-color: $c-green; }
.bg-lime { background-color: $c-lime; }
.bg-yellow { background-color: $c-yellow; }
.bg-orange { background-color: $c-orange; }
.bg-red { background-color: $c-red; }
.bg-maroon { background-color: $c-maroon; }
.bg-fuchsia { background-color: $c-fuchsia; }
.bg-purple { background-color: $c-purple; }
.bg-black { background-color: $c-black; }
.bg-near-black { background-color: $c-near-black; }
.bg-dark-gray,
.bg-dark-grey { background-color: $c-dark-gray; }
.bg-mid-gray,
.bg-mid-grey { background-color: $c-mid-gray; }
.bg-gray,
.bg-grey { background-color: $c-gray; }
.bg-silver { background-color: $c-silver; }
.bg-light-gray,
.bg-light-grey { background-color: $c-light-gray; }
.bg-near-white { background-color: $c-near-white; }
.bg-white { background-color: $c-white; }

.hover-bg-navy:hover { background-color: $c-navy; }
.hover-bg-blue:hover { background-color: $c-blue; }
.hover-bg-aqua:hover { background-color: $c-aqua; }
.hover-bg-teal:hover { background-color: $c-teal; }
.hover-bg-olive:hover { background-color: $c-olive; }
.hover-bg-green:hover { background-color: $c-green; }
.hover-bg-lime:hover { background-color: $c-lime; }
.hover-bg-yellow:hover { background-color: $c-yellow; }
.hover-bg-orange:hover { background-color: $c-orange; }
.hover-bg-red:hover { background-color: $c-red; }
.hover-bg-maroon:hover { background-color: $c-maroon; }
.hover-bg-fuchsia:hover { background-color: $c-fuchsia; }
.hover-bg-purple:hover { background-color: $c-purple; }
.hover-bg-black:hover { background-color: $c-black; }
.hover-bg-near-black:hover { background-color: $c-near-black; }
.hover-bg-dark-gray:hover,
.hover-bg-dark-grey:hover { background-color: $c-dark-gray; }
.hover-bg-mid-gray:hover,
.hover-bg-mid-grey:hover { background-color: $c-mid-gray; }
.hover-bg-gray:hover,
.hover-bg-grey:hover { background-color: $c-gray; }
.hover-bg-silver:hover { background-color: $c-silver; }
.bg-light-gray,
.hover-bg-light-grey:hover { background-color: $c-light-gray; }
.hover-bg-near-white:hover { background-color: $c-near-white; }
.hover-bg-white:hover { background-color: $c-white; }

/*----------  Border Colors  ----------*/

.bc-navy { border-color: $c-navy; }
.bc-blue { border-color: $c-blue; }
.bc-aqua { border-color: $c-aqua; }
.bc-teal { border-color: $c-teal; }
.bc-olive { border-color: $c-olive; }
.bc-green { border-color: $c-green; }
.bc-lime { border-color: $c-lime; }
.bc-yellow { border-color: $c-yellow; }
.bc-orange { border-color: $c-orange; }
.bc-red { border-color: $c-red; }
.bc-maroon { border-color: $c-maroon; }
.bc-fuchsia { border-color: $c-fuchsia; }
.bc-purple { border-color: $c-purple; }
.bc-black { border-color: $c-black; }
.bc-near-black { border-color: $c-near-black; }
.bc-dark-gray,
.bc-dark-grey { border-color: $c-dark-gray; }
.bc-mid-gray,
.bc-mid-grey { border-color: $c-mid-gray; }
.bc-gray,
.bc-grey { border-color: $c-gray; }
.bc-silver { border-color: $c-silver; }
.bc-light-gray,
.bc-light-grey { border-color: $c-light-gray; }
.bc-near-white { border-color: $c-near-white; }
.bc-white { border-color: $c-white; }
